@import "partials";

// TODO TEMPORARY

.auth-container {
  @apply grid grid-cols-2 mt-8  w-full rounded-2xl;
  @include primaryShadow;

  article {
    padding: $authPadding;
  }
  .auth-img-container {
    @apply bg-primaryNavy rounded-l-2xl justify-center;
    @include fl-ic;
    img {
      // ! sesuai figma, container card nya gaakan berubah height nya saat animasi sign up dan login
      @apply w-[448px] h-[468px];
      // ! full width and height
      // @apply object-cover;
    }
  }
  .spesific-auth {
    @apply bg-secondaryWhite text-black rounded-r-2xl w-full text-center;
    h1 {
      @apply text-6xl font-mogra text-primaryTitle;
    }

    .container-input {
      @apply space-y-4 pt-8 pb-4;

      input {
        @apply bg-primaryInput  text-sm italic  pl-4 text-black;
        border-radius: 0.5rem;
        height: 40px;
        width: 300px;
        &::placeholder {
          @apply text-primaryDarkGray;
        }
      }
    }
    .container-forgot {
      @apply justify-between text-xs mx-auto;
      max-width: $authContainerActions;
      @include fl-ic;
      div {
        @apply gap-2;
        @include fl-ic;
        p {
          @apply text-primaryDarkGray;
        }
        a {
          @apply text-primaryBlue;
        }
      }
    }
    .container-actions {
      @apply flex flex-col gap-2 mx-auto pb-[81px] pt-[35px];
      max-width: $authContainerActions;
    }
    .container-signup {
      @apply gap-2 text-xs justify-center;
      @include fl-ic;
    }
  }
}
